# Xcode
DerivedData/
.derivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Build products
build/

# macOS
.DS_Store

# SwiftPM
.swiftpm/

# Dependencies
node_modules
backend/node_modules

# Next build output
.next
backend/.next

# Editor
.vscode
